[loggers]
keys=root,s3log

[handlers]
keys=rotatingFileHandler1

[logger_root]
level=NOTSET
handlers=

[formatters]
keys = s3logFormatter

[logger_s3log]
level=DEBUG
handlers=rotatingFileHandler1
qualname=s3log
propagate=1

[handler_rotatingFileHandler1]
class=handlers.RotatingFileHandler
args=('s3files/s3.log','a',1024*1024,5)
formatter=s3logFormatter


[formatter_s3logFormatter]
format=%(asctime)s - %(levelname)s: %(message)s
datefmt=